.App {
  margin: 0%;
  padding: 0%;
  justify-content: center;
  width: 100%;

}

h1 {
  width: 100%;
  padding: 0%;
  margin: 0%;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  padding-bottom: 0.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
  padding-bottom: 0.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boxes {
  display: flex;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.information input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.addEmploy {
  width: 320px;
  height: 50px;
  margin-top: 15px;
}

.addEmploy:hover {
  cursor: pointer;
}

.employees {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid black;
  margin-top: 2em;
}

thead th {
  padding: 10px;
}

tbody td {
  padding: 10px;
}

thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 30%;
}

thead th:nth-child(5) {
  width: 20%;
}

tbody td {
  text-align: center;
}
